.skillsContainer {
  text-align: center;
  margin: 15rem 0;
}

.skillsTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #E4E4DE;
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.skillBadge {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #595f39; // Uniform color
  color: #E4E4DE;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.skillBadge i {
  font-size: 1.5rem;
}

.skillBadge:hover {
  transform: scale(1.1);
}
