.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the left */
    max-width: 800px; /* Control the width */
    margin: 0px auto 80 auto; /* Center it horizontally */
    padding: 60px; /* Adjust padding */
    background-color: var(--primary-color);
}

.about h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
    text-align: left; /* Keep heading aligned */
}

.about p {
    font-size: 1.2rem;
    color: var(--text-muted);
    line-height: 1.6;
    text-align: left; /* Ensure paragraph is also aligned */
}

/* Optional: Add a fade-in effect */
.about.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
