.contact {
    padding: 80px 20px;
    background-color: var(--primary-color);
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
  }
  
  .contact p {
    font-size: 1.2rem;
    color: var(--text-muted);
    margin-top: 10px;
  }
  
  .contact a {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .contact a:hover {
    color: white;
  }
  