.experience-card {
    background: rgba(255, 255, 255, 0.215);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .experience-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 8px;
  }
  
  .experience-text-company {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
  }
  