.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: #1B1B1B;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #C4C5BA;
  z-index: 1000;
}
.logo {
  font-size: 30px; /* Adjust size if needed */
  font-style: normal; /* Makes the text italic */
  font-weight: 300; /* Optional: Adjust boldness */
  margin-left: 50px; /* Adjust space as needed */
  color: #C4C5BA;
  font-family: 'Rubik Glitch', sans-serif; /* Apply Roboto font */
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px; /* Adjust spacing between links */
  margin-left: auto; /* Pushes nav links to the right */
  padding-right: 50px; /* Adds spacing at the end */
}

.navLinks a {
  font-family: 'Victor Mono', sans-serif; 
  font-style: normal; 
  font-weight: 400; /* Regular weight */
  font-size: 20px; /* Adjust for readability */
  color: #C4C5BA; /* Uses global text color */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover {
  color: #E4E4DE; /* Changes color on hover */
}

.navLinks li:last-child {
  margin-right: 5px; /* Adds 5px space after "Contact" */
}
