@use "../styles/global.scss" as *; /* Adjusted for relative path */

.projectsSection {
  max-width: 2000px;
  margin: 80px auto;
  padding: 60px;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;  /* Allows multiple items per row */
  gap: 5px;
  justify-content: space-between; /* Spreads projects evenly */
  align-items: stretch; /* Ensures all cards align properly */
}

/* Project Card Styling */
.project-card {
  position: relative;
  background-color: $lightBackground2;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  width: 30%; /* Each project takes 30% of the row */
  min-width: 280px; /* Prevents it from getting too small */
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.project-card-dark {
  position: relative;
  background-color: $darkBackground;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
}

.project-card:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}

.project-title {
  text-align: center;
  padding: 1.5rem;
  margin: 0;
  color: $lightBackground1;
  font-size: 25px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .project-card {
    width: 45%; /* Two cards per row */
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 100%; /* One card per row on small screens */
  }
}

@media (max-width: 1380px) {
  .project-title {
    padding-top: 0.5rem;
    font-size: 22px;
  }
}
