.social-icons {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Align to the left */
  list-style: none;
  padding: 0;
}

.social-icons li {
  margin-right: 15px;
}

.social-icons li a {
  width: 40px; /* Smaller icon size */
  height: 40px;
  background-color: black; /* Matches navbar */
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-icons li a .icon {
  color: white;
  transition: 0.3s;
}

.social-icons li a:hover {
  background: white;
}

.social-icons li a:hover .icon {
  color: black;
}
