.App {
  text-align: left;
  background-color: black; /* Set full-page background to black */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  color: white; /* Ensures text is readable */
}

.App-header {
  background-color: black; /* Ensures header matches navbar */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Ensures text stays readable */
}

.App-link {
  color: white;
}
