// Global Styles
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@400;700&display=swap');


:root {
    --primary-color: #102749;  // Dark Background
    --secondary-color: #e0e9e2e3; // Accent Blue
    --text-color: #f7fcf9; // Light Text
    --text-muted: #dbdfeb; // Muted Text
    --font-primary: 'Doto', sans-serif; /* Set Doto as the primary font */
  }
  
  body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
  }
  
  // Links
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }
  
  // Layout Container
  .container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }
  html {
    scroll-behavior: smooth;
  }
  h1 {
    font-size: 3rem; /* Adjust for main headings */
  }
  
  h2 {
    font-size: 2.5rem; /* Adjust for section titles */
  }
  
  
  